*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(22, 22, 22);
}
.mainContainer{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 50vh;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button{
    height: 33.5%;
    width: 32%;
    border: 5px solid cyan;
    background-color: transparent;
    border-radius: 10px;
    font-size: 50px;
    background: linear-gradient(to top,blue,red);
    background-clip: text;
    color: transparent;
    cursor: pointer;
    perspective: 200px;
   animation: rotate 5s ease ;
}
.hide{
    display: none;
}
p{
    font-size: 60px;
    background: linear-gradient(45deg,blue,cyan,red,yellow,green,pink);
    background-clip: text;
    background-size: 300%;
    color: transparent;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    animation: change 4s linear infinite;
}

@keyframes change {
    0% {
        background-position: 0% 50%;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }
    50% {
        background-position: 100% 50%;
        text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    }
    100% {
        background-position: 0% 50%;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }
}
#reset{
    height: 40px;
    width: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    background-color:cyan;
}
#reset:hover{
    transform: scale(1.1);
    transition: transform 0.3s linear;
    box-shadow: 0px 0px 10px cyan,0px 0px 20px cyan,0px 0px 40px cyan,0px 0px 80px cyan,0px 0px 160px cyan;
}
.resetButton{
    height: 5vw;
    width: 100vw;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt{
    border-top: none;
}
.bl{
    border-left: none;
}
.br{
    border-right: none;
}
.bb{
    border-bottom: none;
}
/* #reset:hover{
    background: linear-gradient(45deg,blue,cyan);
    color: white;
} */
/* @keyframes change {
  0% {
      background-position: 0% 50%;
  }

  100% {
      background-position: 100% 50%;
  }
} */
@media only screen and (max-width : 667px) {
    .container {
        height: 67%;
        width: 100%;
    }
    #reset{
        height: 66px;
        width: 172px;
    }
    .mainContainer{
        height: 80vh;
        width: 100vw;
    }
    p {
        font-size: 25px;
    }
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(360deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
